html {
    background-color: var(--gray);
    background-size: 100%;
}

body {
    height: 100vh;
}

main {
    width: 100%;
}

.item-wrapper {
    grid-template-columns: 3fr 1fr;
    gap: 2.5rem;
    width: 95vw;
}

.card {
    height: max-content;
    padding: var(--sp-0-75);
    width: 100%;
}

.img-container {
    max-width: 100%;
}

.prod-img {
    width: 100%;
}

.right-section {
    align-items: center;
    gap: var(--sp-1);
}

.right-section>span {
    align-items: center;
}

.checkout-container {
    background-color: var(--white);
    border: 1px solid var(--secondary-color);
    gap: var(--sp-0-75);
    height: max-content;
    padding: var(--sp-0-75);
    width: 90%;
}

.checkout-container>span {
    justify-content: space-between;
}

.checkout-container>button {
    align-self: center;
    width: 100%;
}

@media only screen and (max-width:880px) {
    html {
        font-size: 90%;
    }

    .card {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:700px) {
    .item-wrapper {
        grid-template-columns: 1fr;
    }

    .right-section {
        flex-direction: column;
    }
}