@import url("https://odysseyui.netlify.app/CSS/odyssey.css");
@import url("nav.css");

body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.nav-title{
    color:var(--black);
}

.nav-icon{
    filter: none;
}

main{
    width: 100vw;
    height: calc(100vh - 50.4px);
    justify-content: center;
    align-items: center;   
    background-color: var(--gray); 
}

.login-container{
    gap:var(--sp-0-75);
    width: 25rem;
    background-color: var(--white);
    padding: var(--sp-2);
    border-radius: var(--sp-0-75);
    box-shadow: 2px 2px 2px var(--black);
    user-select: none;
}

.login-title, .new-acc-link{
    text-align: center;
}

.form-input{
    width: 90%;
}

.form-wrapper{
    justify-content: space-between;
}

.form-wrapper>a, .new-acc-link{
    font-size: 1.2rem;
    color:rgb(70, 166, 204);
}

#login-btn{
    align-self: center;
    width: 95%;
}

label{
 font-family: 'Open Sans', sans-serif;
}