@import url("https://odysseyui.netlify.app/CSS/odyssey.css");
@import url("/nav.css");


main {
    margin-top: var(--sp-1);
    width: 100%;
}

.nav-title {
    color: var(--black);
}

.page-heading {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: var(--sp-1) 15px;
    max-width: 100%;
    justify-content: center;
}

.prod-row {
    max-width: 20rem;
}

td>* {
    text-align: center;
    color: var(--solid-gray);
    white-space: nowrap;
}

@media only screen and (max-width:580px) {
    html {
        font-size: 75%;
    }

    table {
        justify-content: left;
    }

    nav {
        gap: var(--sp-0-25);
    }
}